@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root {
    --text: #051523;
    --background: #f8fbfe;
    --primary: #258ee1;
    --secondary: #d786ee;
    --accent: #e754c0;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--background);
    font-family: 'Lato', sans-serif;
    transition: .5s ease-in;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.7rem;
}

h3 {
    font-size: 2.1rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.15rem;
}

p,
a,
li {
    font-size: 1rem;
    font-weight: 400;
}


small {
    font-size: 0.75rem;
}

button {
    padding: .7rem 1.2rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 10px;
}


@media (max-width:1024px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    h4 {
        font-size: 1.3rem;
    }

    h5 {
        font-size: 1rem;
    }
}