.nav,
.footer {
    max-width: 1100px;
    width: 100%;
}

.nav_links {
    display: flex;
    align-items: center;
}

.nav_links li svg {
    transition: .5s ease;
}

.nav_links li:hover {
    font-weight: 700;
}

.nav_links li:hover svg {
    transform: rotate(180deg);
}

.burger {
    display: none;
    flex-direction: column;
    gap: .2rem;
    cursor: pointer;
}

.burger span {
    width: 20px;
    height: 3px;
    border-radius: 10px;
    background: var(--text);
}


.footer h5 {
    text-transform: uppercase;
    font-size: 1.05rem;
}

.footer_sec_1 li {
    padding: 0.5rem 0;
}

@media screen and (max-width:768px) {
    .burger {
        display: flex;
    }

    .nav {
        position: relative;
        background: #adc;
        z-index: 999;
    }

    .nav_links.active ul {
        left: 0;
    }

    .nav_links ul {
        position: absolute;
        flex-direction: column;
        top: 64px;
        left: -100%;
        padding: 1rem 1.25rem;
        width: 100%;
        height: calc(100vh - 64px);
        background: #fff;
        z-index: 999;
        transition: .5s ease;
    }
}