.search {
    display: flex;
    gap: .5rem;
    width: calc(100% - 310px);
    left: 310px;
    position: relative;
}

.search input {
    width: 100%;
    border: 2px solid #ddd;
    background: transparent;
    padding: 0.5rem 1.2rem 0.5rem 3rem;
}

.search input,
.search button,
.products button {
    border-radius: 8px;
}

.search input:focus {
    border: none;
    outline: 2px solid var(--primary);
}

.search svg {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.search button {
    background: var(--primary);
    color: var(--background);
}

.filter {
    width: 300px;
    padding: .8rem;
    border-radius: 10px;
    background: #fff;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.05);
}

.filter h5 {
    text-transform: uppercase;
}

.filter ul li {
    padding: 0.3rem 1rem;
}

.brand li {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.brand label {
    cursor: pointer;
}

.brand input[type='checkbox'] {
    width: 17px;
    height: 17px;
}

.products {
    background: #fff;
    width: calc(100% - 320px);
    border-radius: 10px;
    padding: 1.2rem;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.05);
}

.product_card {
    width: 221px;
    height: 400px;
    padding: .5rem;
    transition: .3s;
    cursor: pointer;
}

.stars {
    display: flex;
    gap: .3rem;
}

.stars svg {
    color: #bebfc2;
}

.stars svg.colored {
    color: gold;
}

.product_card:hover {
    box-shadow: -1px 3px 3px 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transform: scale(1.03);
    transition: .5s ease-in-out;
}

.product_card .info {
    height: 100px;
}

.product_card .header {
    height: calc(100% - 170px);
    margin-bottom: 10px;
}

.product_card .header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
}

.product_card button {
    margin-top: 12px;
    background: var(--primary);
    color: var(--background);
}

.product_card button:hover {
    background: rgba(33, 125, 215);
    color: #fff;
}

.product_card .footer {
    height: 70px;
}

.product_card .footer,
.product_card .footer button {
    transition: .3s;
    width: 100%;
}

.product_card .footer button {
    display: none;
}

.product_card:hover .footer button {
    display: block;
}

.product_card_list {
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 180px;
}

.product_card_list .header {
    width: 215px;
    height: 100%;
}

.product_card_list .header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
}

.product_card_list .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
}

.product_card_list .info .product_title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.product_card_list .info .price {
    font-weight: 700;
    font-size: 1.3rem;
    margin-block: 0;
}

.product_card_list .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 230px;
    padding: 0.5rem;
}

.product_card_list .footer span {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.product_card_list .footer svg {
    font-size: 1.5rem;
    stroke: 1px solid black;
    background: transparent;
}

.product_card_list .footer button {
    background: var(--primary);
    color: #fff;
}

.product_card_list .footer button:hover {
    background: #000;
}

.product_image_view {
    position: sticky;
    /* top: 20px; */
    width: 100%;
    padding: .7rem;
}

.product_image_view .display_image {
    height: 465px;
}

.product_image_view .display_image img {
    width: 100%;
}

.product_thumbnails {
    height: 100px;
}

.price {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    margin-block: 1rem;
}

.price p {
    font-size: 1.2rem;
    color: #888;
}

.price span {
    padding: .2rem .5rem;
    color: var(--accent);
    background: #e754c058;
    border-radius: 5px;
    border: 1px solid var(--accent);
    font-size: .75rem;
    align-self: center;
}

.stock {
    font-size: .9rem;
    color: #888;
    margin-block: 1rem;
    font-weight: 700;
}

.rating {
    display: flex;
    padding-block: .7rem;
}

.about_product {
    width: 350px;
    margin-block: 1rem;
}

.about_product div {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.about_product span {
    width: 175px;
}

.about_product span:first-child {
    font-weight: 700;
}


.cart_btn {
    width: 100%;
    margin-block: 1.2rem;
}

.cart_btn button {
    width: 100%;
    background: var(--primary);
    color: #fff;
    padding-block: .9rem;
}

.product_details ul {
    list-style: disc;
    margin-left: 1.3rem;
}

.product_details li {
    font-size: 1.05rem;
    margin-bottom: 0.5rem;
}

.product_display span {
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.product_display svg {
    font-size: 1.2rem;
}

.product_display span::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
    transition: .5s ease;
}

.product_display span.active::before {
    background: rebeccapurple;
}

.product_display span:hover::before {
    background: rebeccapurple;
}